/* ===================================================== */

/* :root {
  --text-color: red;
} */

img {
  height: 200px;
  width: 200px;
}

.wrap {
  word-wrap: break-word;
  max-width: 100%;
  text-align: justify;
}

.item {
  color: #fff;
}
a {
  color: #fff;
}
.padding10 {
  padding: 10px;
}
p {
  color: #fff;
}
h1 {
  color: #fff;
}
.warna {
  color: var(--pilih-color);
}

/* gambar ke tengah  //======================================================================================================================== */
.gambarTengah {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.full100 {
  position: fixed;
  height: 100%;
  width: 100%;
}

.kotak {
  height: var(--tinggi-height);
  width: var(--lebar-width);
  background-color: var(--bg-color);
}
