/* ===================================================== */

img {
  height: 200px;
  width: 200px;
}

.wrap {
  word-wrap: break-word;
  height: 200px;
  max-width: 100%;
  text-align: justify;
  color: #fff;
}
p {
  color: #fff;
}
.item {
  color: #fff;
}
a {
  color: #fff;
}
