@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Rubik", sans-serif;
}
article {
  display: flex;
  justify-content: center;
  align-self: center;
  min-height: 100vh;
  background: #a41a1a;
}

article .container {
  position: relative;
  max-width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-template-rows: minmax(100px, auto);
  margin: 40px;
  grid-auto-flow: dense;
  grid-gap: 10px;
}
article .container .box {
  background: #333;
  padding: 20px;
  display: grid;
  font-size: 20px;
  place-items: center;
  text-align: center;
  color: #fff;
  transition: 0.5%;
}
article .container .box:hover {
  background: #e91e63;
}

article .container .box .conten img {
  position: relative;
  max-width: 100px;
  margin-bottom: 10px;
}

article .container .box:nth-child(1) {
  grid-column: span 2;
  grid-row: span 1;
}
article .container .box:nth-child(2) {
  grid-column: span 1;
  grid-row: span 2;
}
article .container .box:nth-child(4) {
  grid-column: span 1;
  grid-row: span 2;
}
article .container .box:nth-child(5) {
  grid-column: span 3;
  grid-row: span 1;
}

article .container .box .scroll {
  height: 100%;
  width: 100%;
  display: flex;

  overflow-x: scroll;
}

article .container .box .scroll::-webkit-scrollbar {
  width: 0;
  height: 0;
}

article .container .box .scroll .item {
  min-width: 100px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #33ad51;
  margin-right: 2px;
  cursor: pointer;
}

article .container .box .scroll .item:hover {
  background: #e91e63;
}

@media (max-width: 991px) {
  article .container {
    grid-template-columns: repeat(auto-fill, minmax(50%, 1fr));
    grid-template-rows: minmax(auto, auto);
  }
  article .container .box {
    grid-column: unset !important;
    grid-row: unset !important;
  }

  article .container .box .scroll .item {
    min-width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #33ad51;
    margin-right: 2px;
    padding: 0;
  }
  article .container .box .scroll::-webkit-scrollbar {
    width: 0;
  }
}
