/* Set tinggi 100% untuk elemen html dan body */
*{
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  color: #fff;
}
.book-list {
  list-style-type: none;
  padding-left: 10px;
  padding-right: 10px;
}
  
.book-list-item {
  margin-bottom: 10px;
}

.book-list-item a {
  display: block;
  padding: 10px;
  background-color: #f0f0f0;
  text-decoration: none;
  color: #333;
  border-radius: 4px;
}

.book-list-item a:hover {
  background-color: #ccc;
}

/* Style untuk menu navigasi */
.sidebar {
  height: 100vh;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background-color: #2a2a2a;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidebar a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 18px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

/* .sidebar a:hover {
  color: #f1f1f1;
} */

.sidebar .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

.sidebar .boxMenu .book-list .book-list-item a{
  color: #2a2a2a;
}

.boxMenu{
  height: 100%;
  width: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
  
}

.boxMenu::-webkit-scrollbar {
  width: 0px;
  background-color: #f1f1f1;
}

.boxMenu::-webkit-scrollbar-thumb {
  background-color: #888;
}

.boxMenu::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}

.boxMenu::-webkit-scrollbar-track {
  background-color: #f1f1f1;
  /* border-radius: 4px; */
}

.openbtn {
  font-size: 20px;
  cursor: pointer;
  background-color: #f1f1f1;
  color: #2a2a2a;
  border: none;
  position: absolute;
  /* top: 0; */
  /* right: 10PX; */
  /* margin-right: 10vh; */
  margin-top: 8px;
  height: 40px;
  width: 40px;
}

.openbtn:hover {
  background-color: #fff;
}

#menuTombol {
  display: block;
  transition: margin-right .5s;
  height: 100vh;
  overflow: hidden;
  background-color:#2a2a2a;
}

.tutup{
height: 100%;
padding: 1%;
/* margin-right: 20px; */
overflow: hidden;
}
.utama{

  height: 100%;
  width: 100%;
  overflow-y: scroll;
  padding-left: 43PX;
  /* margin-right: 30px; */
  /* overflow-x: scroll; */
}

.utama::-webkit-scrollbar {
  width: 0px;
  background-color: #f1f1f1;
}

.utama::-webkit-scrollbar-thumb {
  background-color: #888;
}

.utama::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}

.utama::-webkit-scrollbar-track {
  background-color: #f1f1f1;
  /* border-radius: 4px; */
}
.utama p{
  text-align: justify;
  word-wrap: break-word;
  overflow-wrap: break-word;
  
}

article{
  margin-right: 20px;
}
.jarak{
  height: 200px;
}