@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");
* {
  margin: 0;
  padding: 0;
  /* box-sizing: border-box; */
  font-family: "Rubik", sans-serif;
}

body {
  height: 100%;
  width: 100%;
}

body .container {
  position: fixed;
  height: 100%;
  width: 100%;
  overflow: auto;
  white-space: nowrap;
  scrollbar-width: none; /* Menghilangkan ikon scrollbar */
  -ms-overflow-style: none; /* Untuk browser Internet Explorer */
  /* Vendor prefixes */
  ::-webkit-scrollbar {
    display: none; /* Untuk browser berbasis WebKit (misalnya Chrome) */
  }
  scrollbar-width: none;
}

.main {
  z-index: 2;
  display: grid;
  grid-template-columns: 1fr 0fr;
  grid-template-rows: auto;
  height: 100%;
  width: 100%;
  transition: 0.3s;
}

.main .konten {
  background-color: #b74848;
  height: 100%;
  width: 100%;
  /* padding: 20px; */
}

/* .kontenHide {
} */

/* .main .konten #articleContent {
  z-index: 1;
} */

.main .menuBar {
  background-color: #333;
  color: #fff;
  text-align: center;
  line-height: 100px;
}

.main .menuBar .menuBarHide {
  display: none;
}

.tombol {
  position: absolute;
  height: 200px;
  width: 200px;
  background-color: green;
  bottom: 0;
  right: 0;
  z-index: 2;
}
