@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Rubik", sans-serif;
}

body {
  height: 100%;
  width: 100%;
}
p {
  color: #fff;
}
.item {
  color: #fff;
}

body .container {
  position: fixed;
  height: 100%;
  width: 100%;
  overflow: auto;
  /* white-space: nowrap; */
  scrollbar-width: none; /* Menghilangkan ikon scrollbar */
  -ms-overflow-style: none; /* Untuk browser Internet Explorer */
  /* Vendor prefixes */
  ::-webkit-scrollbar {
    display: none; /* Untuk browser berbasis WebKit (misalnya Chrome) */
  }
  scrollbar-width: none;
}

.main {
  display: grid;
  grid-template-columns: 1fr 0fr;
  grid-template-rows: 1fr;
  height: 100%;
  transition: 0.3s;
}

.konten {
  background-color: #0d1f23;
  height: 100%;
  width: 100%;
}

.menuBar {
  background-color: #69818d;
  height: 100%;
  width: 100%;
}

.main .menuBar .menuBarHide {
  display: none;
}

.menuBarGrid {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 10fr;
  height: 100vh;
  width: 100%;
}

.main .menuBar .search-container {
  height: 10vh;
}
.main .menuBar .tombolC {
  height: 82vh;
  width: 100%;
  overflow: scroll;
  /* background-color: green; */
}

.tombol {
  position: absolute;
  height: 100px;
  width: 100px;
  margin: 10px;
  border-radius: 20%;
  background-color: #2d4a53;
  color: #afb3b7;
  bottom: 0;
  right: 0;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* 
//========================================================================================================================
gaya search*/
.search-container {
  display: flex;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 20px;
  justify-content: center;
  align-items: center;
}

#searchInput {
  padding: 8px;
  height: 40px;
  border: 1px solid #ccc;
  border-radius: 6px;
  /* margin-right: 10px; */
}

.buttonSearch {
  padding: 8px 16px;
  height: 40px;
  border: none;
  border-radius: 4px;
  background-color: #afb3b7;
  color: #0d1f23;
  cursor: pointer;
}

button:hover {
  background-color: #2d4a53;
}

/* 
//========================================================================================================================
gaya buku*/
.cariBuku {
  margin-left: 20px;
  margin-right: 20px;
  /* margin-bottom: 20px; */
  height: 40px;
  width: 100% -40px;
  background-color: #afb3b7;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 6px;
  margin-bottom: 10px;
  color: #0d1f23;
}
