@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Rubik", sans-serif;
}
html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box; /* Menyertakan padding dan border dalam tinggi elemen */
}

p {
  color: #fff;
}

.item {
  color: #fff;
}

.container {
  height: 100%;
  width: 100vw;
}

.main {
  display: grid;
  grid-template-columns: 1fr 0fr;
  grid-template-rows: 1fr;
  height: 100%;
  width: 100%;
  transition: 0.3s;
}

.konten {
  background-color: #0d1f23;
  height: 100%;
  width: 100%;
}

.scroll1 {
  overflow: auto;
}

.scroll1::-webkit-scrollbar {
  display: none;
}

.kontenHide {
  height: 100%;
  width: 100%;
}

.menuBar {
  background-color: #69818d;
  /* background-color: red; */
  height: 100%;
  width: 100%;
}

.main .menuBar .menuBarHide {
  height: 100%;
  width: 100%;
  display: none;
}

.menuBarGrid {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 80vh;
  width: 100%;
  height: 100%;
  place-items: center;
}

/* .main .menuBar .search-container {
  height: 10vh;
} */
.tombolC {
  height: 80vh;
  width: 100%;
  /* background-color: green; */
  overflow: auto;
}
.tombolC::-webkit-scrollbar {
  display: none;
}

.tombol {
  position: absolute;
  height: 100px;
  width: 100px;
  margin: 10px;
  border-radius: 20%;
  background-color: #2d4a53;
  color: #afb3b7;
  bottom: 0;
  right: 0;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* 
//========================================================================================================================
gaya search*/
.search-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0px 20px 0px 20px;
}

#searchInput {
  flex-grow: 1;
  padding: 8px;
  height: 40px;
  border: 1px solid #ccc;
  border-radius: 6px;
  /* margin-right: 10px; */
}

.buttonSearch {
  padding: 8px 16px;
  height: 60px;
  border: none;
  border-radius: 4px;
  background-color: #afb3b7;
  color: #0d1f23;
  cursor: pointer;
}

button:hover {
  background-color: #2d4a53;
}

/* 
//========================================================================================================================
gaya buku*/
.cariBuku {
  margin-left: 20px;
  margin-right: 20px;
  /* margin-bottom: 20px; */
  height: 40px;
  width: 100% -40px;
  background-color: #afb3b7;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 6px;
  margin-bottom: 10px;
  color: #0d1f23;
}
