@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Rubik", sans-serif;
}

/* ===================================================== */

img {
  height: 100px;
}

.isi {
  position: fixed;
  height: 100%;
  /* width: 100%; */
  background-color: blue;

  max-width: 100%;
  margin: 0 auto;
  padding: 20px;
  /* word-wrap: break-word; */
}

.isi .wrap {
  position: relative;
  height: 600px;
  width: 100%;
  word-wrap: break-word;
  background-color: yellow;
  max-width: 600px;
}

.isi h1,
.isi p {
  overflow-wrap: break-word;
  width: 100%;
}
