@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Rubik", sans-serif;
}

/* ===================================================== */

img {
  height: 100px;
}

.isi {
  position: absolute;
  /* Menghapus position: fixed; untuk memungkinkan konten melebihi lebar viewport */
  /* Menghapus max-width atau tingkatkan nilainya jika kontennya terlalu lebar */
  width: 50%;
  height: 100%;
  background-color: blue;
  word-wrap: break-word;
  text-align: justify;
}

.isi p {
  /* Menerapkan word-wrap untuk memastikan teks tidak melebihi batas */
  word-wrap: break-word;
}
